:root {
    --color-black: #111;
    --color-grey: #525252;
    --color-white: white;
    --color-coral: coral;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-black);
}

.bold-font {
    font-weight: 700;
}

.white-font {
    color: var(--color-white);
}

.grey-font {
    color: var(--color-grey);
}

.big-size-font {
    font-size: 2.6em;
}

.medium-size-font {
    font-size: 1.5em;
}

.small-size-font {
    font-size: 1.1em;
}

.coral-btn {
    color: var(--color-white);
    background-color: var(--color-coral);
}
