.calculator-content {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.calculator-wrap {
  display: flex;
  justify-content: center;
  background-color: rgb(70, 65, 87);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.1);
  margin: 0 auto;
  width: 350px;
  height: 400px;
  border-radius: 10px;
}

.calculator {
  padding: 30px;
}

.calculator-display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 250px;
  height: 35px;
  background-color: white;
  margin-bottom: 20px;
  font-size: 24px;
  padding: 5px;
  overflow: hidden;
}

.calculator-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 250px;
}

.calculator-btn {
  width: 23%;
  height: 50px;
  margin-bottom: 5px;
  background-color: rgb(209, 197, 248);
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.calculator-empty-btn {
  cursor: default;
  background-color: rgb(90, 84, 109);
}

.logs {
  width: 300px;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.logs-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 20px;
}

.logs-circle {
  border: 2px solid red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.logs-circle-fill {
  background-color: red;
  cursor: pointer;
}

.logs-calculate {
  font-size: 28px;
}

.underline {
  border-bottom: 2px solid black;
}

.logs-close {
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.logs-close:hover {
  color: red;
  cursor: pointer;
}
