* {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.first-screen {
  background: url('../img/header-bg.jpg') no-repeat center / cover;
}

.screen-content {
  padding: 200px 0;
}

.section-subtitle {
  font-size: 22px;
  position: relative;
}

.section-subtitle::after {
  content: '';
  display: block;
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: gray;
  top: 40px;
  left: calc(50% - 25px);
  margin: 0 auto;
}

.services-icon {
  width: 200px;
}

.service-btn {
  background: url('../img/touch-bg.png') no-repeat center;
  border-radius: 100px;
  font-size: 20px;
  cursor: pointer;
}

.img-container {
  height: 1000px;
}

.work-img {
  height: 33%;
  width: 33%;
  padding: 20px;
}

.img {
  height: 66%;
  width: 33%;
}

.position-img {
  width: 100%;
  position: relative;
}

.image-wrap:before {
  content: '';
  position: absolute;
  display: block;
  width: 60%;
  height: 60%;
  left: -20px;
  bottom: -30px;
  background: url('../img/references-image-bg.png');
}

.carousel-item {
  padding: 50px 100px;
}

.carousel-item.active,
.carousel-item-right,
.carousel-item-left {
  display: flex;
}

.section-dark-bg {
  background-color: black;
}

.my-input-style::placeholder {
  color: white;
  font-size: 12px;
}

.my-input-style:focus {
  background-color: black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 30px;
  width: 30px;
  border-top: 5px solid black;
  border-right: 5px solid black;
  background-image: none;
}

.carousel-control-next-icon {
  transform: rotate(45deg);
}

.carousel-control-prev-icon {
  transform: rotate(-135deg);
}

.carousel-indicators .carousel-control {
  width: 20px;
  height: 20px;
  border-radius: 500px;
  background-color: #62436f;
}

.carousel-control.active {
  background-color: #c0b4c5;
}

.footer {
  background: url('../img/footer-bg.jpg') no-repeat center / cover;
}

.footer-logo {
  height: 40px;
}

.footer-icon {
  height: 25px;
}

.size-text {
  font-size: 12px;
}
