@mixin style-btn {
    padding: 12px 42px;
    color: $color-font-btn;
    font: bold 1.2em map-get($map: $fonts, $key: "Source Sans Pro");
    border: none;
    border-radius: 3px;
    background-color: $bg-btn;
    cursor: pointer;
} 

@mixin style-link($weight: normal, $font-size: 1em,  $color: #FFF) {
    color: $color;
    font: $weight $font-size map-get($map: $fonts, $key: "Hind"); 
}

@mixin bg-on-text($width: 100px, $height: 50px, $top: 0px, $left: 0px) {
    content: "";
    position: absolute;
    background-color: $bg-on-text;
    z-index: map-get($map: $z-layers, $key: "covered");
    width: $width;
    height: $height;
    top: $top;
    left: $left;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $bg-main;
}

.content-wrapper {
    max-width: 1520px;
    margin: 0 auto;
}

.header {
    background: $bg-img;
    border-radius: 0 0 40% / 35% 0;
    padding: 10px 30px 172px;

    &-wrap {
        @extend .content-wrapper;
    }

    .landing-logo {
        margin-bottom: 72px;
    }
    
    &_heading {
        max-width: 780px;
        margin-bottom: 38px;
        font: bold 4.5em map-get($map: $fonts, $key: "Source Sans Pro");
        color: $color-font-main;
        line-height: 1em;
        position: relative;
        z-index: map-get($map: $z-layers, $key: "default");
        &::before {
            @include bg-on-text(300px, 52px, 90px);
        }
    }
    
    &_text {
        white-space: pre-line;
        margin-bottom: 65px;
        font: normal 16px map-get($map: $fonts, $key: "Theme");
        color: $color-font-main;
        line-height: 1.4em;
    }
    
    &_button {
        @include style-btn;
        margin-right: 147px;
    }
    
    .login {    
        @include style-link(bold, 1.2em);
    }
}

.landing-logo {
    display: flex;
    align-items: center;

    img {
        display: block;
        width: 45px;
        height: 45px;
        object-fit: contain;
    }

    p {
        padding-left: 15px;
        font: bold 1.5em map-get($map: $fonts, $key: "Theme");
        color: $color-font-main;
        text-align: center;

        span {
            font-size: 0.4em;
            display: block;
        }
    }
}

.section {
    position: relative;
    padding: 30px 30px 0;
    background-color: $bg-main;

    &_text {
        text-align: center;
        font: bold  2.6em map-get($map: $fonts, $key: "Hind");
        color: $color-section-header;
        position: relative;
        z-index: map-get($map: $z-layers, $key: "default");
        width: max-content;
        margin: 0 auto 30px;
        &::before {
            @include bg-on-text(190px, 50px, 0px, auto);
            right: 10px;
        }
    }
}

.section_card {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 30px;
    background-color: $bg-card;
    max-width: 1100px;
    padding: 15px;
    border-radius: 10px;
    margin: 0 auto 30px;

    &_img {
        border-radius: 10px;
        width: 100%;
    }
    
    &_heading {
        color: $section-card-heading-text;
        text-align: center;
        font: bold 1.5em map-get($map: $fonts, $key: "Hind");
    }

    &_right_container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0px 10%;
    }
    
    &_text { 
        font: normal 1em map-get($map: $fonts, $key: "Theme");
        color: $section-card-text;
        text-align: justify;
        line-height: 1.5rem;
    }
}

.section_link {
    display: flex;
    justify-content: center;
    @include style-link(normal, 1em, $section-card-text);
}

.section_banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    background: linear-gradient(45deg, $banner-bg-color-first, $banner-bg-color-second); 
    border-radius: 5px;
    margin: 0 auto;
    max-width: 1200px;
    transform: translateY(62px);
}

.section_banner_text_wrap{
    position: relative;
    z-index: map-get($map: $z-layers, $key: "default");

    &::before {
        @include bg-on-text(60px, 42px, 0px, 116px );
    }

    .section_banner_heading {
        margin-bottom: 10px;
        font: bold 1.8em map-get($map: $fonts, $key: "Source Sans Pro");
        color: $color-section-header;
    }

    .section_banner_text {
        margin: 8px 0 20px 0;
        color: $color-banner-text;
        font-family: map-get($map: $fonts, $key: "Theme");
    }
}

.section_banner_button {
    @include style-btn;
    &:hover {
        cursor: pointer;
    }
} 

.footer {
    background-color: $bg-footer;
    color: $footer-text;
    padding: 120px 30px 20px;
    
    &-wrap {
        @extend .content-wrapper;
        display: flex;
        justify-content: space-between;
        align-items: center;   
    }

    &_logo {
        p {
            color: $footer-text;
        }
    }

    &_text {
        max-width: 300px;
        font: normal 0.9em map-get($map: $fonts, $key: "Theme");
    }

    &-cr {
        font-family: map-get($map: $fonts, $key: "Theme");
        display: flex;
        justify-content: flex-end;
    }
}