$content-font-sans: 'Source Sans Pro', sans-serif;
$content-font-hind: 'Hind', sans-serif;
$content-font-fresca: 'Fresca', sans-serif;
$theme-text-font: $content-font-fresca;

$fonts: (
    "Source Sans Pro": $content-font-sans,
    "Hind": $content-font-hind,
    "Fresca": $content-font-fresca,
    "Theme": $theme-text-font
);

$z-layers: (
    "covered": -1,
    "default": 1
);

$color-font-btn: #F2F3DE;
$color-font-main: #FFF;

$bg-on-text: #FF4E33;
$bg-btn: #E3AC00;
$color-section-header: #FFF;
$bg-card: #3B3F50;
$section-card-heading-text: #FFF;
$section-card-text: #C0C3CE;

$color-banner-header: #FFF;
$color-banner-text: #D1D1C5;
$banner-bg-color-first: #DB9F09;
$banner-bg-color-second: #942E52;
$bg-img: url('../img/m-h-night.jpg') center / cover no-repeat;
$bg-main: #21232E;

$bg-footer: #3B3F50;
$footer-text: #D1D1D1;