$content-font-sans: 'Source Sans Pro', sans-serif;
$content-font-hind: 'Hind', sans-serif;
$content-font-fresca: 'Fresca', sans-serif;
$theme-text-font: $content-font-hind;

$fonts: (
    "Source Sans Pro": $content-font-sans,
    "Hind": $content-font-hind,
    "Fresca": $content-font-fresca,
    "Theme": $theme-text-font
);

$z-layers: (
    "covered": -1,
    "default": 1
);

$color-font-main: #2C2F3C;
$color-font-btn: #F2F3DE;

$bg-on-text: #14A0C7;
$bg-btn: #699900;
$color-section-header: #2C2F3C;
$bg-card: #21232E;
$section-card-heading-text: #FFF;
$section-card-text: #C0C3CE;

$color-banner-header: #2C2F3C;
$color-banner-text: #C0C3CE; 
$banner-bg-color-first: #61911E;
$banner-bg-color-second: #3260C4;
$bg-img: url('../img/m-h-day.jpg') center / cover no-repeat;
$bg-main: #FFF;

$bg-footer: #21232E;
$footer-text: #C0C3CE;